.center-page-title {
    margin: 0px auto;
    width: 100vw;
    display: inline-block;
    // padding: 10px 0px 55px 25px;
    // border-bottom: 1px solid #CAD2D3;
    background-color: #86978E;
}

.worldcat-logo {
	max-width:8%; 
	max-height:8%; 
  position: absolute;
  left: 10px;
  top: 10px;
}

h2.page-title { 
	font-family: 'Titillium Web', sans-serif;
  color: #277AB3;
  color: white;
  text-align: center;
  margin-top: 10px !important;
  font-weight: 800;
}

.intro-text-container {
    margin: 10px 15px 0px 15px;
    padding: 0px 10px 0px 10px;
    top: 0;
    left: 0;
    z-index: 1;
    height: 70px;
}

.intro-text {
    font-family: 'Dosis', sans-serif; 
    color: #666666;
    background-color: #fff;
    font-size: 17.5px;
    line-height: 25px;
    font-weight: 400;
}

.total-container h2 {
    margin-top:0;
    text-align: center;
}

.total-container h3 {
    margin-top: 10px;
    text-align: center;
}

.total-container {
    background-color: #86978E;
    border: 2px solid white
}

.distinct-container h2 {
    margin-top:0;
    text-align: center;
}

.distinct-container h3 {
    margin-top: 10px;
    text-align: center;
}

.distinct-container {
    background-color: #86978E;
    border: 2px solid white;
}

.total-holdings-header { 
	padding-left: 10px;
	font-family: 'Dosis', sans-serif; 
	color:#FFFFFF;
}

.total-holdings-subheader { 
    text-align: center; 
    font-family: 'Dosis', sans-serif; 
    color:#FFFFFF;
}

.distinct-holdings-header { 
    padding-left: 10px;
    font-family: 'Dosis', sans-serif; 
    color:#FFFFFF; 
}

.distinct-holdings-subheader { 
	text-align: center; 
	font-family: 'Dosis', sans-serif; 
	color:#FFFFFF; 
}

h2.button-margin {
    margin: 10px;
    font-family: 'Dosis', sans-serif; 
    text-transform: uppercase;
    font-weight: 900;
}

button {
    margin:0 auto;
    display:inline-block;
}

#map { 
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    height: 250px;
    left: 50%;
}

.descriptive-text-container {
    margin: 35px 15px 5px 23px;
    padding: 0px 10px 5px 10px;
    top: 0;
    left: 0;
    z-index: 1;
    height: 130px;
}

.descriptive-text {
    font-family: 'Dosis', sans-serif; 
    font-weight: light;
    color: #666666;
    background-color: #fff;
    font-size: 90%;
}

h4#location-title {
    font-family: 'Dosis', sans-serif; 
    margin-top: 10px;
    margin-bottom: 5px !important;
    font-weight: 700;
}

p#location-description {
  font-family: 'Dosis', sans-serif; 
  font-size: 16px;
  font-weight: 400;
}

.titles-legend {
  background-color: #fff;
  border-radius: 3px;
  top: 145px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 12px/20px 'Lato', sans-serif;
  padding: 10px;
  position: absolute;
  left: 15px;
  z-index: 1;
  text-align: left;
  overflow: hidden;
  opacity: 0.9;
}

.titles-legend h5 {
  margin: 0 0 10px;
}

.titles-legend div span {
  border-radius: 50%;
  display: inline-block;
}

#circle1 {
  background-color: #666666;
  height: 5px;
  width: 5px;
  margin-right: 15px;
  margin-left: 9px;
}

#circle2 {
  background-color: #666666;
  height: 7px;
  width: 7px;
  margin-right: 11px;
  margin-left: 8px;
}

#circle3 {
  background-color: #666666;
  height: 10px;
  width: 10px;
  margin-right: 10px;
  margin-left: 7px;
}

#circle4 {
  background-color: #666666;
  height: 13px;
  width: 13px;
  margin-right: 9px;
  margin-left: 5.7px;
}

#circle5 {
  background-color: #666666;
  height: 25px;
  width: 25px;
  margin-right: 5px;
}

.align-us {
  display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
  align-items: center;
}

.group-legend {
    font: 14px/20px 'Lato', sans-serif;
    width: 100vw;
    top: 0;
    left: 0;
    padding-top: 15px;
    padding-left: 30px;
    height: 80px;
    // border-bottom: 1px solid #666666;
    color: #ffffff;
}

.group_div {
  font-size: 125%;
  cursor: pointer; 
}

.group-legend button {
  width: 75px;
}

#group-legend-title {
  color: #666666;
  padding-bottom: 10px;
} 

h6.group_count {
  margin: 5px 0px 5px 0px; 
}

.mapboxgl-popup {
  max-width: 400px;
  font: 14px/20px 'Lato', sans-serif;
  color: #666666;
}

.table-titles {
  font: 14px/20px 'Lato', sans-serif;
  margin-top: 20px;
}

.search-box {
  font: 14px/20px 'Lato', sans-serif;
  text-align: center;
  margin-top: 25px;
  color: #666666;
}

#myInput {
    font: 14px/20px 'Lato', sans-serif;
    margin: 25px 0px 10px 15px;
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 50%; /* Full-width */
    font-size: 14px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    display: inline-block;
}

.align-us {

}

td {
    vertical-align:middle;
    // height:100px;
    width:100%;
}

.spacer {
  margin: 10px 0px 10px 0px;

}

#east {
  font: 10px/14px 'Lato', sans-serif;
  margin: 25px 20px 5px 0px;
  background-color: #FB9A99;
  padding: 3px 5px;
  color: white;
  width: 10px;
  height: 5px;
  border-radius: 5px;
}

#wrlc {
  font: 10px/14px 'Lato', sans-serif;
  margin: 5px 20px 5px 0px;
  background-color: #6A3D9A;
  padding: 3px 5px;
  color: white;
  width: 20px;
  height: 10px;
  border-radius: 5px;
}

